.wrap {
  padding-top: 16px;
}

.notFound {
  font-size: 16px;
  color: #667085;
}

.title {
  margin: 0 0 8px;
  font-size: 32px;
  font-weight: 700;
}

.metaRow {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  color: #667085;
  margin-bottom: 4px;
}

.rating {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.star {
  color: #ffc531;
}

.reviewsBtn {
  margin-left: 4px;
  font-size: 14px;
  color: #667085;
  text-decoration: underline;
  background: none;
  border: none;
}

.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.locationIcon {
  font-size: 14px;
}

.price {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}

.photo {
  width: 100%;
  height: 180px;
  border-radius: 16px;
  object-fit: cover;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  align-items: flex-start;
}

.main {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #eaecf0;
  padding: 18px;
}

.bookingAside {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #eaecf0;
  padding: 18px;
}

.description {
  margin: 0 0 16px;
  font-size: 14px;
  color: #475467;
}


.tabs {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eaecf0;
}

.tabBtn {
  padding: 8px 0;
  background: none;
  border: none;
  font-size: 14px;
  color: #667085;
  position: relative;
}

.tabBtnActive {
  color: #101828;
  font-weight: 600;
}

.tabBtnActive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  border-radius: 999px;
  background-color: #e44848;
}

.tabContent {
  margin-top: 8px;
}

.featuresWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}

.featureTags {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 999px;
  background-color: #f2f4f7;
  color: #344054;
}

.detailsBlock {
  flex: 1;
}

.detailsTitle {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 600;
}

.detailsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detailsRow {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  font-size: 14px;
  border-bottom: 1px solid #f2f4f7;
}

.detailsRow:last-child {
  border-bottom: none;
}
